.error_page {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
h2{
  font-weight: 600;
}
h4{
  font-size: 16px;
  font-weight: 400;
  color: #888;
}
